.centered {
  margin-top: 100px;
}
.centered h1 {
  text-align: center;
}
.centered .container {
  display: flex;
  justify-content: center;
}
.centered .container .shape {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.centered .container .shape::after {
  content: " ";
  position: relative;
  display: block;
  top: -5px;
  right: 6px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid black;
  opacity: 0;
  transition: opacity 0.25s;
  transition-timing-function: linear;
}
.centered .container .shape:hover::after {
  opacity: 1;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

.red {
  background-color: red;
}